################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BibiBro.Client.Telegram/bin
/src/BibiBro.Client.Telegram/obj
/src/BibiBro.Server/bin
/src/BibiBro.Server/obj
